background: hsla(0, 0%, 0%, 1);

background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(224, 47%, 66%, 1) 0.2%, hsla(341, 100%, 75%, 1) 0.4%, hsla(2, 100%, 87%, 1) 0.6%, hsla(10, 100%, 95%, 1) 0.8%);

background: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(224, 47%, 66%, 1) 0.2%, hsla(341, 100%, 75%, 1) 0.4%, hsla(2, 100%, 87%, 1) 0.6%, hsla(10, 100%, 95%, 1) 0.8%);

background: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(224, 47%, 66%, 1) 0.2%, hsla(341, 100%, 75%, 1) 0.4%, hsla(2, 100%, 87%, 1) 0.6%, hsla(10, 100%, 95%, 1) 0.8%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#7f95d1", GradientType=1 );