<!doctype html>
<html>
    <head>
        <title>Binauralize Your Beats</title>

        <meta charset="utf-8">
        <script type="text/javascript" src="brython.js"></script>
        <script type="text/javascript" src="brython_stdlib.js"></script>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
          .container {
            max-width: 500px;
            padding-top: 100px;
          }
        </style>
    </head>

    <body onload="brython(1)">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="landing.html">Binauralize Your Beats</a>
              </div>
          
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="#">Upload</a></li>
                  <li></li><a href="edu.html">Learn More</a></li>
                </ul>
                {# <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Link</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid --> #}
          </nav>
          <div class="container">
            {% extends "layout.html" %}
            {% block content %}
              <h3> choose your fighter</h3>
              <br>
              <p>My string: {{my_string}}</p>
              <p>Value from the list: {{my_list[3]}}</p>
              <p>Loop through the list:</p>
              <ul>
                {% for n in my_list %}
                <li>{{n}}</li>
                {% endfor %}
              </ul>
              <h3> This is the end of my child template</h3>
            {% endblock %}
          </ul>
        </div>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    
    </body>

</html>