<!doctype html>
<html>
    <head>
        <title>What are Binaural Beats?</title>

        <meta charset="utf-8">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
          .container {
            max-width: 1200px;
            padding-top: 100px;
          }
		  body {
			background-image:url("gradient1.png");
			background-repeat: repeat-y;
			background-size: cover;
				}
          .topnav a.active{
            color:white
          }
        </style>
    </head>

    <body>
                      <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/landing">Binauralize Your Beats</a>
                      </div>
                  
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                          <li><a class="active" href="/edu">Learn More</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Upload <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a value="sleep" id="sleep1" onClick="sessionStorage.setItem('goal','sleep')" href="/audio_upload">Sleep</a></li>
                              <li><a value="med" id="med1" onClick="sessionStorage.setItem('goal','med')" href="/audio_upload">Meditation</a></li>
                              <li><a value="stress" id="stress1" onClick="sessionStorage.setitem('goal','stress')" href="/audio_upload">Stress</a></li>
                              <li><a value="focus" id="focus1" onClick="sessionStorage.setItem('goal','focus')" href="/audio_upload">Focus</a></li>
                              <li><a value="mem" id="mem1" onClick="sessionStorage.setItem('goal','mem')" href="/audio_upload">Memory</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>

          <div class="container">
            
            <h1>Binauralize Your Beats is designed to improve your mood by adding binaural basslines to your favorite songs</h1>
			<p> Binauralized Audio is when two closely spaced frequencies are played in different ears to create a beating effect. This auditory phenomena has been shown in multiple studies to improve mood in several ways.</p>
            <h2> Benefits of Binauralized Basslines</h2>
              <h3>Sleep:</h3> 
			  <p>Frequencies ranging from 0.5 to 4 hz can improve and induce sleep</p>
				<li><a href=https://doi.org/10.3389/fnhum.2019.00425> Inducing Sleep Study </a></li>
				<br>
				<p>Listen To A Sample </p>
				<audio id='player' controls>
					<source src="binauralized.wav" type="audio/wav">
				</audio>
				<br>
				<br>
              <h3>Meditation:</h3>
			  <p>Frequencies ranging from 4 to 8 hz can improve meditation</p>
				<li><a href= https://bebrainfit.com/binaural-beats-meditation/> Meditation Benefits </a></li>
				<br>
				<p>Listen To A Sample </p>
				<audio id='player' controls>
					<source src="binauralized.wav" type="audio/wav">
				</audio>
				<br>
				<br>
              <h3>Stress: </h3>
			  <p>Frequencies ranging from 8 to 12 hz can reduce stress</p>
				<li><a href=https://doi.org/10.1111/jnu.12304> PTSD Study </a></li>
				<li><a href=https://pubmed.ncbi.nlm.nih.gov/11191043/> Anxiety Study </a></li>
				<br>
				<p>Listen To A Sample </p>
				<audio id='player' controls>
					<source src="binauralized.wav" type="audio/wav">
				</audio>
				<br>
				<br>
				
			  <h3>Focus: </h3>
			  <p>Frequencies ranging from 12 to 30 hz can improve focus</p>
				<li><a href=https://doi.org/10.1007/s00426-015-0727-0> Attentional Focusing Study </a></li>
				<br>
				<p>Listen To A Sample </p>
				<audio id='player' controls>
					<source src="binauralized.wav" type="audio/wav">
				</audio>
				<br>
				<br>
				
			  <h3>Memory:</h3>
			  <p>Frequencies ranging from 30 to 50 hz can improve memory</p>
				<li><a href=https://doi.org/10.1007/s00426-017-0959-2> Long-term Memory Study </a></li>
				<p>Listen To A Sample </p>
				<audio id='player' controls>
					<source src="binauralized.wav" type="audio/wav">
				</audio>
				<br>
              <ul>
              </ul>
              
           
          </ul>
        </div>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

			<iframe width="420" height="315"
				src="https://www.youtube.com/embed/8tf9jdhIepU">
		</iframe>
    
    </body>

</html>