<!doctype html>
<html>
    <head>
        <title>What are Binaural Beats?</title>

        <meta charset="utf-8">
        <script type="text/javascript" src="brython.js"></script>
        <script type="text/javascript" src="brython_stdlib.js"></script>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
          .container {
            max-width: 500px;
            padding-top: 100px;
          }
          .topnav a.active{
            color:white
          }
        </style>
    </head>

    <body>
                      <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="landing.html">Binauralize Your Beats</a>
                      </div>
                  
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                          <li><a class="active" href="edu.html">Learn More</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Upload <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="Upload.html">Sleep</a></li>
                              <li><a href="Upload.html">Meditation</a></li>
                              <li><a href="Upload.html">Stress</a></li>
                              <li><a href="Upload.html">Focus</a></li>
                              <li><a href="Upload.html">Memory</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>

          <div class="container">
            
            <h2>Binauralize Your Beats is designed to improve your mood by adding binaural basslines to your favorite songs</h2>
			<p> Binauralized Audio is when 2 closely spaced frequencies are played in different ears to create a beating effect. This auditory phenomena has been shown in multiple studies to improve mood in several ways.</p>
              <h3> Benefits of Binauralized Basslines</h3>
              <br>
			 
			 
              <p>Sleep: Frequencies ranging from 0.5 to 4 hz can improve and induce sleep</p>
				<li><a href=https://doi.org/10.3389/fnhum.2019.00425> Inducing Sleep Study </a></li>
				<br>
              <p>Meditation: Frequencies ranging from 4 to 8 hz can improve meditation</p>
				<li><a href= https://bebrainfit.com/binaural-beats-meditation/> Meditation Benefits </a></li>
				<br>
              <p>Stress: Frequencies ranging from 8 to 12 hz can reduce stress</p>
				<li><a href=https://doi.org/10.1111/jnu.12304> PTSD Study </a></li>
				<li><a href=https://pubmed.ncbi.nlm.nih.gov/11191043/> Anxiety Study </a></li>
				<br>
			  <p>Focus: Frequencies ranging from 12 to 30 hz can improve focus</p>
				<li><a href=https://doi.org/10.1007/s00426-015-0727-0> Attentional Focusing Study </a></li>
				<br>
			  <p>Memory: Frequencies ranging from 30 to 50 hz can improve memory</p>
				<li><a href=https://doi.org/10.1007/s00426-017-0959-2> Long-term Memory Study </a></li>
              <ul>
              </ul>
              
           
          </ul>
        </div>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

			<iframe width="420" height="315"
				src="https://www.youtube.com/embed/8tf9jdhIepU">
		</iframe>
    
    </body>

</html>