<!doctype html>
<html>
    <head>
        <title>What are Binaural Beats?</title>

        <meta charset="utf-8">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
          .container {
            max-width: 1000px;
            padding-top: 100px;
          }
		  body {
			background-image:url("button1.png");
			background-repeat: repeat-y;
			background-size: cover;
    }
          .topnav a.active{
            color:white
          }
        </style>
    </head>

    <body>
                      <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Binauralize Your Beats</a>
                      </div>
                  
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                          <li><a class="active" href="/edu">Learn More</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Upload <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a value="sleep" id="sleep1" onClick="sessionStorage.setItem('goal','sleep')" href="/audio_upload">Sleep</a></li>
                              <li><a value="med" id="med1" onClick="sessionStorage.setItem('goal','med')" href="/audio_upload">Meditation</a></li>
                              <li><a value="stress" id="stress1" onClick="sessionStorage.setitem('goal','stress')" href="/audio_upload">Stress</a></li>
                              <li><a value="focus" id="focus1" onClick="sessionStorage.setItem('goal','focus')" href="/audio_upload">Focus</a></li>
                              <li><a value="mem" id="mem1" onClick="sessionStorage.setItem('goal','mem')" href="/audio_upload">Memory</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>

          <div class="container">
            
            <h1>Binauralize Your Beats is designed to improve your mood by adding binaural basslines to your favorite songs</h1>
			<p> Binauralized Audio is when two closely spaced frequencies are played in different ears to create a beating effect. This auditory phenomena has been shown in multiple studies to improve mood in several ways.
        Binaural beats are not to be confused with monaural beats. Whereas, in monaural beats the frequency is created by combining two frequencies and displaying the combined frequencies in both ears; Binaural Beats displays the two frequencies unmixed, seperately in both ears. 
      </p>
      <hr>
      <img src="diagram.png" width="500" height="700">
      <hr>
      <h2> Benefits of Binauralized Basslines</h2>
              <h3>Deep Sleep or REM Sleep:</h3> 
			  <p>Frequencies ranging from 0.5 to 4 hz are known as delta waves. Delta waves are emitted by your brain when you are in REM sleep or Deep Sleep. REM sleep stands for rapid eye movement sleep that occurs when you are in the 4th stage of sleeping, the deepest stage where your brain rests and retains memories.
            Dreams also occur in REM sleep, and your body goes through most of its renewal processes that allow you to wake up feeling restored. Listening to delta waves while in the early stages of sleep can induce a deeper sleep.</p>
				<li><a href=https://doi.org/10.3389/fnhum.2019.00425> Inducing Sleep Study </a></li>
				<br>
				<p>Listen To A Sample </p>
				<audio id='player' controls>
					<source src="bin_sneakyedit.wav" type="audio/wav">
				</audio>
				<br>
				<br>
              <h3>Meditation and NREM Sleep:</h3>
			  <p>Frequencies ranging from 4 to 8 hz is known as theta waves. Theta waves are emitted by your brain when you are in Non-REM sleep or a semi-conscious medatative state. 
          Non-REM sleep stands for non-rapid eye movement sleep, which is an earlier stage of sleep that your brain has to go through before reaching REM sleep when dreams occur and the body renews itself.
          However, using theta wave binaural beats has been proven to induce sleep better than delta waves, as the brain has to get to NREM sleep before it can reach REM sleep.
        </p>
				<li><a href= https://bebrainfit.com/binaural-beats-meditation/> Meditation Benefits </a></li>
        <li><a href=https://doi.org/10.3389/fnhum.2019.00425> Inducing NREM Sleep Study </a></li>
				<br>
				<p>Listen To A Sample </p>
				<audio id='player' controls>
					<source src="theta.wav" type="audio/wav">
				</audio>
				<br>
				<br>
              <h3>Relieve Stress and Relaxtion: </h3>
			  <p>Frequencies ranging from 8 to 12 hz are known as alpha waves. Alpha waves are emitted by your brain when you are relaxed and conducive to the early stages of sleep. Alpha waves are some of the strongest brain signals.
          In studies, alpha activity has been linked to a reduction in stress, anxiety, discomfort and pain.
            </p>
				<li><a href=https://doi.org/10.1111/jnu.12304> PTSD Study </a></li>
        <img src="stress.png" width="500" height="250">
				<li><a href=https://pubmed.ncbi.nlm.nih.gov/11191043/> Anxiety Study </a></li>
				<br>
				<p>Listen To A Sample </p>
				<audio id='player' controls>
					<source src="alpha.wav" type="audio/wav">
				</audio>
				<br>
				<br>
				
			  <h3>Focus: </h3>
			  <p>Frequencies ranging from 12 to 30 hz are known as beta waves. Beta waves are emitted by your brain when you are active, focused and awake. Beta waves are constantly emmited while you are awake and are the most common brainwaves. If you are finding yourself distracted or disengaged when working, binaural beats can 
          create betawaves to naturally hone your focus. Beta waves have also been shown to improve information retention as well.
        </p>
				<li><a href=https://doi.org/10.1007/s00426-015-0727-0> Attentional Focusing Study </a></li>
				<br>
				<p>Listen To A Sample </p>
				<audio id='player' controls>
					<source src="beta.wav" type="audio/wav">
				</audio>
				<br>
				<br>
				
			  <h3>Memory and Learning:</h3>
			  <p>Frequencies ranging from 30 to 50 hz are known as gamma waves. Gamma waves are not commonly produced by your brain and spike when you are highly alert or trying to retain information. Gamma waves are far more noticable than lower frequency waves as they have a much higher pitched sound.
          Listening to gamma waves while attempting to study or learn have been shown to improve memory. Gamma wave binaural beats have also been shown to entrain the brain to a more attentative state, improving reaction time.</p>
				<li><a href=https://doi.org/10.1007/s00426-017-0959-2> Long-term Memory Study </a></li>
        <li><a href=https://doi.org/10.1007/s00426-015-0727-0> Reaction Time Study</a></li>
        <br>
        <img src="gamma.png" width="500" height="500">
        <br>
				<p>Listen To A Sample </p>
        <br>
				<audio id='player' controls>
					<source src="gamma.wav" type="audio/wav">
				</audio>
				<br>
        <img src="brainwave.jpg" width="500" height="700">
              <ul>
              </ul>
              
           
          </ul>
        </div>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    
    </body>

</html>