<!doctype html>
<html>
    <head>
        <title>Binauralize Your Beats</title>

        <meta charset="utf-8">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
          .container {
            max-width: 500px;
            padding-top: 100px;
          }
        </style>
    </head>

    <body>
                  <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="landing.html">Binauralize Your Beats</a>
                      </div>
                  
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                          <li><a href="edu.html">Learn More</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Upload <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="Upload.html">Sleep</a></li>
                              <li><a href="Upload.html">Meditation</a></li>
                              <li><a href="Upload.html">Stress</a></li>
                              <li><a href="Upload.html">Focus</a></li>
                              <li><a href="Upload.html">Memory</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>
          <div class="container">
            <p style="text-align:center">
              <h1> Binauralize Your Beats </h1>
              <br>
              <h3>What do you want your music to help with?</h3>
            </p>
        </div>
        <br>
        <div>
    <a href='upload.html'>
      <button class="Sleep">
        Sleep
        <br>
        0.5 - 4 Hz
      </button>
    </a>
    <a href='upload.html'>
      <button class="Meditation">
        Meditation
        <br>
        4 - 8 Hz
       </button>
    </a>
    <a href='upload.html'>
      <button class="Stress">
        Stress
        <br>
        8 - 12 Hz
      </button>
    </a>
    <a href='upload.html'>
      <button class="Focus">
        Focus
        <br>
        12 - 30 Hz
      </button>
    </a>
    <a href='upload.html'>
      <button class="Memory">
        Memory
        <br>
        30+ Hz
      </button>
    </a>
        </div>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    
    </body>

</html>