<!doctype html>
<html>
<head>
  <title>Upload</title>

  <meta charset="utf-8">
  <script type="text/javascript" src="brython.js"></script>
  <script type="text/javascript" src="brython_stdlib.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style type="text/css">
    .container {
      max-width: 500px;
      padding-top: 100px;
    }
  </style>
</head>

<body>
                      <nav class="navbar navbar-inverse" role="navigation">
                        <div class="container-fluid">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="landing.html">Binauralize Your Beats</a>
                          </div>
                      
                          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                              <li><a href="edu.html">Learn More</a></li>
                            </ul>
                          </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                      </nav>
      <label for="goals">Binaural Beats for:</label>
      <select name="goals" id="goals">
        <option value="Sleep">Sleep</option>
        <option value="Meditation">Meditation</option>
        <option value="Stress">Stress</option>
        <option value="Focus">Focus</option>
        <option value="Memory">Memory</option>
      </select>
    </div>

          <!-- external libs from cdnjs -->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        
        
        
        
        <script type=text/javascript>
                    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                </script>
        <script type="text/javascript">
          $(function () {


            var parseAndSave = function (f) {
              $("#output").html("<p align='center' style='color:grey;'>(processing...)</p>")
              console.log("got file ", f)
              var xhr = new XMLHttpRequest();
              xhr.addEventListener('load', handle_response)
              xhr.open('POST', '/save_audio', true);
              req = new FormData()
              req.set('audio', f,)
              for (key of req.keys()) {
                console.log("val", key)
              }
              xhr.send(req);
            };

            $("#mid").bind("change", function (event) {
              parseAndSave(event.target.files[0]);
            });

            $("#textarea").bind("input change", function () {
              parseAndSave($("#textarea").val());
            });

            var dragging = function (evt) {
              evt.stopPropagation();
              evt.preventDefault();
              evt.originalEvent.dataTransfer.dropEffect = 'copy';
              $("body").removeClass("whiteborder").addClass("greyborder");
            };

            var endDrag = function (evt) {
              evt.stopPropagation();
              evt.preventDefault();
              evt.originalEvent.dataTransfer.dropEffect = 'copy';
              $("body").removeClass("greyborder").addClass("whiteborder");
            };

            var dropped = function (evt) {
              evt.stopPropagation();
              evt.preventDefault();
              $("body").removeClass("greyborder").addClass("whiteborder");
              parseAndSave(evt.originalEvent.dataTransfer.files[0]);
            };

            $("html")
              .on("dragover", dragging)
              .on("dragend", endDrag)
              .on("dragexit", endDrag)
              .on("dragleave", endDrag)
              .on("drop", dropped);
          });
          function handle_response(e) {
            console.log(this.responseText);
            document.getElementById("output").innerHTML = this.responseText;
          }
        </script>
        <div class="container">
          <div class="col-lg-9"></div>
          <h4>Audio Upload</h4>
        
          <p style="text-align:center" style="line-height: 1.5">
            Drop an audio file on this page or
            <label id="filechooser">click here to choose one<input id="mid" type="file" style="display:none" /></label>
            <br /><br />
            <textarea placeholder="or type or paste CSV text here" style="width: 300px;" id="textarea"></textarea>
            <br />
          <p>This page allows you to upload audio files</p>
          </p>
                  <audio id='player' controls>
                    <source src={{filename}}>
                  </audio>
        <br>
		<br>
			<p>Click here to play a sample</p>
				<audio id='player' controls>
					<source src="binauralized.wav" type="audio/wav">
				</audio>
        </div>
      </div>
        <div id="output" style="margin: 10px;"></div>
