<!doctype html>
<html>

<head>
  <title>Upload</title>
  <meta charset="utf-8">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style type="text/css">
    .container {
      max-width: 500px;
      padding-top: 100px;
    }
	body {
			background-image:url("button3.png");
			background-repeat: repeat-y;
			background-size: cover;
				}
    .output {
      display: block;
      
    }
 /* .loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
 .loader div {
    display: none;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
 .loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
.loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
.loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
} */

  </style>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="js/background.js"></script>
  <script src="functions.js"></script>
</head>

<body>
                      <nav class="navbar navbar-inverse" role="navigation">
                        <div class="container-fluid">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Binauralize Your Beats</a>
                          </div>
                          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                              <li><a href="/edu">Learn More</a></li>
                            </ul>
                          </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                      </nav>
      <div class='topdropdown' style="display:grid; justify-items: center;">
      <label for="goalsel">Binaural Beats to help with:</label>
      <form name="goals" class="dropdown" method="POST" action="{{ url_for('save_audio') }}">
        <select name="goals">
          <!-- <option value=""> -->
          <!-- <script type="text/javascript" src="js/theStoredValue.js"></script> -->
          <!-- </option>         -->
          <option value="delta">Sleep</option>
          <option value="theta">Meditation</option>
          <option value="alpha">Stress</option>
          <option value="beta">Focus</option>
          <option value="gamma">Memory</option>
        </select>
        <input type="submit" value="Submit" />
      </form>
      </div>  
    </div>
          <!-- external libs from cdnjs -->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->

        <script type=text/javascript>
                    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                </script>
        <script type="text/javascript">
          $(function () {


            var showExample = function(f) {
              $("#output").html("<p>Click here to play a sample</p><audio id='player' controls><source src='binauralized.wav' type='audio/wav'></audio>")
            }

            var parseAndSave = function (f) {
              $("#output").html("<p align='center' style='color:black;'>(processing...)</p>")
              // loader.showLoading();
              console.log("got file ", f)
              var xhr = new XMLHttpRequest();
              xhr.addEventListener('load', handle_response)
              xhr.open('POST', '/save_audio', true);
              req = new FormData()
              req.set('audio', f,)
              req.set('outputaudio',f,)
              console.log(req)
              for (key of req.keys()) {
                console.log("val", key)
              }
              xhr.send(req);
            };

            $("#mid").bind("change", function (event) {
              showExample(event.target.files[0])
              parseAndSave(event.target.files[0]);
            });

            $("#textarea").bind("input change", function () {
              showExample(event.target.files[0])
              parseAndSave($("#textarea").val());
              
            });

            var dragging = function (evt) {
              evt.stopPropagation();
              evt.preventDefault();
              evt.originalEvent.dataTransfer.dropEffect = 'copy';
              $("body").removeClass("whiteborder").addClass("greyborder");
            };

            var endDrag = function (evt) {
              evt.stopPropagation();
              evt.preventDefault();
              evt.originalEvent.dataTransfer.dropEffect = 'copy';
              $("body").removeClass("greyborder").addClass("whiteborder");
            };

            var dropped = function (evt) {
              evt.stopPropagation();
              evt.preventDefault();
              $("body").removeClass("greyborder").addClass("whiteborder");
              parseAndSave(evt.originalEvent.dataTransfer.files[0]);
            };

            $("html")
              .on("dragover", dragging)
              .on("dragend", endDrag)
              .on("dragexit", endDrag)
              .on("dragleave", endDrag)
              .on("drop", dropped);
          });
          function handle_response(e) {

            console.log(this.responseText);
            document.getElementById("output").innerHTML = this.responseText;
            // loader.hideLoading();
          }
        </script>
        <!-- <script>
          function showLoading() {
            document.getElementById("loader").style = "visibility: visible";
          }
          function hideLoading() {
            document.getElementById("loader").style = "visibility: hidden";
          }
        </script> -->
        <div class="container">
          <div class="col-lg-9"></div>
          <h2 style="text-align:center">Audio Upload</h2>
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
        </div>
          <p style="text-align:center" style="line-height: 1.5">
            Drop an audio file on this page or
            <label id="filechooser" style="text-decoration-line: underline;">click here to choose one<input id="mid" type="file" style="display:none" /></label>
            <br /><br />
            <!-- <textarea placeholder="or type or paste CSV text here" style="width: 300px;" id="textarea"></textarea> -->
            <br />
          </p>
      
        <br>
		<br>
			<!-- <p>Click here to play a sample</p>
				<audio id='player' controls>
					<source src="binauralized.wav" type="audio/wav">
				</audio> -->
        </div>
      </div>
        <div id="output" style="margin: 10px; display:grid; justify-items: center;">
          Example of binauralized music:
          <audio id='player' style="margin: 0 auto; display: block;" controls>
            <source src="static/bin_sneakyedit.wav">
          </audio>
          The original (un-binauralized) music:
          <audio id='player' controls>
            <source src="static/sneakyedit.wav">
          </audio>
        </div>
